flask==3.0.3
flask-sqlalchemy==3.1.1
flask-bcrypt==1.0.1
flask-login==0.6.3
flask-mail==0.10.0
flask-wtf==1.2.1
flask-limiter==3.7.0
itsdangerous==2.1.2
wtforms==3.1.2
email-validator==2.1.1
scikit-learn==1.6.1
xgboost==2.0.3
lightgbm==4.3.0
pandas==2.2.2
numpy==1.26.4
joblib==1.4.2
reportlab==4.2.2
python-dotenv==1.0.1
